:root {
    --orange: #ff6b0a;
    --white: #fff;
    --black: #1b1d1f;
    --blue: #005bbb;
}

/*Typography styles*/

.main{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.submain{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.accent{
    font-weight: 600;
    font-size: 64px;
    line-height: 112%;
}

.subaccent {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
}

.header{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}

/*----*/

body{
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    margin: 0;
}

.btn {
    background: var(--orange);
    color: var(--white);
    border: none;

    border-radius: 8px;
    padding: 12px 24px;
    width: 172px;
    height: 48px;
    cursor: pointer;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Main page */

.main-page{
    width: 100%;
    background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
}

.main-page__text-container{
    border-radius: 40px; 
    background: var(--white);
    padding: 60px;
    box-sizing: border-box;
}

.main-page__logo {
    position: absolute;
    top: 32px;
    left: 0;
}

.wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
}

.main-page__hellotext{
    margin-top: 0;
    margin-bottom: 60px;
}

.main-page__title{
    margin-top: 0;
    margin-bottom: 24px;
}

.main-page__descr{
    margin-top: 0;
    margin-bottom: 32px;
}

.main-page__btn{
    
}

/* Facts */

.facts{
    padding-top: 48px;
    padding-bottom: 100px;
    text-align: center;
}

.facts__title{
    margin-bottom: 32px;
    margin-top: 0;
}

.facts__descr{
    width: 772px;
    margin: 0 auto 24px;
}

.facts-wrapper__item{
    width: calc((100% / 3) - (24px * 2) /3);
}

.facts-wrapper__item-img{
    width: 374px;
}

.facts-wrapper__item-title{
    margin-top: 0;
    margin-bottom: 32px;
}

.facts-wrapper__item-descr{
    margin-top: 0;
    margin-bottom: 0;
}

/* Form */

.form{
    width: 100%;
    background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);

    padding: 80px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container{
    background: var(--white);
    border-radius: 40px;
    padding: 32px 60px 60px;
    box-sizing: border-box;
}

.form-container__trezub{
    margin-bottom: 32px;
}

.form-container__title{
    margin-top: 0;
    margin-bottom: 12px;
}

.form-container__descr{
    margin-top: 0;
    margin-bottom: 24px;
}

.form-container__field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container__field-name{
    margin-bottom: 24px;
}

.form-container__field-email{
    margin-bottom:48px;
}

.form-container__field-label{
    margin-bottom: 8px;
}

.form-container__field-input{
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 24px 12px;
    box-sizing: border-box;
    width: 100%;
}

button::active{
    transform: scale(0.95);
}
